body {font-family: Times; color: #bfbfbf; padding: 100px;}

.hello { background-color:#bfbfbf;}

h1{color:#ffffff; background-color: #997300;}

h2{color: #4d004d; background-color: #dd99ff;}


h3{color:#ffffff; background-color: #4dc3ff;}
